body{
background-color: red;
}

h1{
    font-family: arial;
   color: yellow;
   margin-left: 200px;
    background: lightgray
}

#columns{
    background-color: lightblue;
    font-family: sans-serif;
    -webkit-column-count: 3; /*chrome, safari, opera */
    -moz-column-count: 3; /*} firefox */ 
    column-count: 3; 
-webkit-column-gap: 50px; /* Chrome, Safari, Opera */
    -moz-column-gap: 50px; /*Firefox */
    column-gap: 50px;
}

#diff col{
    -webkit-column-count: 3; /*Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 50px; /*Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-gap: 50px;
}

#diff-col .left-col{
    width: 30%
    padding: 10px;
    background: lightyellow;
}

#diff-col .mid-col{
    width: 30%
    padding: 10px;
    background: purple;
}
